@import "variables";

body {
  color: $default-gray;
  font:
    400 normal 16px/1.4 "Nanum Gothic",
    sans-serif;
  height: 3000px;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid $default-gray;
  border-radius: 4px;
  color: $default-gray;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: 0.4s;

  &:hover {
    background-color: $default-gray;
    color: $pure-white;
  }

  &.btn--reverse {
    background-color: $default-gray;
    color: $pure-white;

    &:hover {
      background-color: transparent;
      color: $default-gray;
    }
  }

  &.btn--brown {
    $brown: #592b18;
    border-color: $brown;
    color: $brown;

    &:hover {
      background-color: $brown;
      color: $pure-white;
    }
  }

  &.btn--gold {
    $gold: #d9aa8a;
    border-color: $gold;
    color: $gold;

    &:hover {
      background-color: $gold;
      color: $pure-white;
    }
  }

  &.btn--white {
    border-color: $pure-white;
    color: $pure-white;

    &:hover {
      background-color: $pure-white;
      color: $default-gray;
    }
  }
}
