body {
  color: #333;
  font:
    400 normal 16px/1.4 "Nanum Gothic",
    sans-serif;
  height: 3000px;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
