@import "../variables";

body .awards {
  background-color: $section-dark-background;

  .inner {
    padding: 40px 0;

    .swiper {
      width: 100%;
      height: 40px;
    }

    .swiper-button-prev,
    .swiper-button-next {
      opacity: 0.3;
      color: $pure-white;
      border-color: $pure-white;
      top: 0;
      bottom: 0;
      margin: auto 0;

      &:hover {
        color: $default-gray;
        background-color: $pure-white;
      }
    }

    .swiper-button-prev {
      left: -100px;
    }

    .swiper-button-next {
      right: -100px;
    }
  }
}
