@import "../variables";

.youtube {
  position: relative;
  height: 700px;
  background-color: $default-gray;
  overflow: hidden;

  .youtube__area {
    width: 1920px;
    background-color: orange;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &::before {
      content: "";
      display: block;
      padding-top: 56.25%; /* 16:9 */
    }
  }
  .youtube__cover {
    background-image: url("../../images/video_cover_pattern.png");
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    inset: 0;
  }
}

#player {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}
