body header .badges {
  position: absolute;
  top: 132px;
  right: 12px;

  .badge {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 12px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
}
