@import "subMenu";
@import "mainMenu";
@import "badges";

body header {
  /* HEADER */
  width: 100%;
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  position: fixed;
  top: 0;

  > .inner {
    height: 120px;

    .logo {
      position: absolute;
      height: 75px;
      top: 0;
      left: 0;
      bottom: 0;
      margin: auto 0;
    }
  }
}
