@import "../variables";

body header .inner .main-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;

  .item {
    .item__name {
      padding: 10px 20px 34px 20px;
      font:
        13px Arial,
        sans-serif;
    }

    .item__contents {
      width: 100%;
      position: fixed;
      left: 0;
      display: none;

      .contents__menu {
        background-color: $reddish-brown;

        > ul {
          display: flex;
          padding: 20px 0;

          > li {
            width: 220px;

            h4 {
              padding: 3px 0 12px 0;
              font-size: 14px;
              color: $pure-white;
            }

            ul li {
              padding: 5px 0;
              font-size: 12px;
              color: #999;
              cursor: pointer;

              &:hover {
                color: $starbucks-green;
              }
            }
          }
        }
      }

      .contents__texture {
        padding: 26px 0;
        font-size: 12px;
        background-image: url("/assets/images/main_menu_pattern.jpg");

        h4 {
          color: #999;
          font-weight: 700;
        }

        p {
          color: $starbucks-green;
          margin: 4px 0 14px;
        }
      }
    }

    &:hover {
      .item__name {
        background-color: $reddish-brown;
        color: $starbucks-green;
        border-radius: 6px 6px 0 0;
      }

      .item__contents {
        display: block;
      }
    }
  }
}
