body {
  .pick-your-favorite {
    background-image: url("../../images/favorite_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    .inner {
      padding: 110px 0;

      .text-group {
        margin-left: 100px;
        width: 362px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 40px;
      }
    }
  }

  .reserve-store {
    background-image: url("../../images/reserve_store_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    .inner {
      height: 600px;
      display: flex;
      justify-content: center;
      align-items: center;

      .medal {
        $medal-size: 334px;
        width: $medal-size;
        height: $medal-size;
        perspective: 600px;

        .front,
        .back {
          width: $medal-size;
          height: $medal-size;
          position: absolute;
          backface-visibility: hidden;
          transition: 1s;
        }

        .front {
          transform: rotateY(0);
        }

        .back {
          transform: rotateY(-180deg);

          .btn {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 50px;
            margin: 0 auto;
          }
        }

        &:hover {
          .front {
            transform: rotateY(180deg);
          }

          .back {
            transform: rotateY(0);
          }
        }
      }
    }
  }
}
