.youtube .inner {
  height: 700px;
}

.objects {
  .floating {
    position: absolute;
  }

  .floating1 {
    top: 50px;
    left: 0;
  }

  .floating2 {
    top: 350px;
    left: 150px;
  }

  .floating3 {
    top: -200px;
    right: 0;
  }
}
